<footer class="footer">
  <div class="footerTop">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="footerTopSingle">
            <h2>CONTACT INFORMATION</h2>
            <p [innerHTML]="address">
                
             
              <!-- <a
                href="mailto:support.marketplace@successlife.com"><i class="fa fa-envelope" aria-hidden="true"></i>
                support.marketplace@successlife.com</a> -->
            </p>
            <p><a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> {{phone_number}}</a> 
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="footerTopSingle">
            <h2>MY ACCOUNT</h2>
            <ul class="footNav">
              <!--<li><a routerLink="/faq" >Faq</a></li>
              <li><a routerLink="/services" >Services</a></li>
              <li><a routerLink="/shop" >Shop</a></li>
                <li><a routerLink="/courses">Courses</a></li>
                <li><a routerLink="/events">Events</a></li>
            -->
              <li><a routerLink="/about">About Us</a></li>
              <li><a routerLink="/how-it-works">How it works</a></li>
              <li><a routerLink="/invite">Invite Your Friends</a></li>
              <!--<li><a routerLink="/contact">Contact</a></li>
               <li><a href="#">Blog</a></li> -->
            </ul>
          </div>
        </div>
        <!-- <div class="col-md-2">
          <div class="footerTopSingle">
            <h2 class="dispnM">&nbsp;</h2>
           
          </div>
        </div> -->
        <div class="col-md-4">
          <div class="footerTopSingle noBdr">
            <h2 class="dispnM">Follow Us</h2>
            <ul class="footSocial">
              <li><a target="_blank" href="https://facebook.com/SuccessLifeGL"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a target="_blank" href="https://twitter.com/SuccessLifeGL"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a target="_blank" href="https://linkedin.com/company/SuccessLife"><i class="fa fa-linkedin"
                    aria-hidden="true"></i></a></li>
              <li><a target="_blank" href="https://www.youtube.com/channel/UCkJBDROXjrWlJ1vYWaYGVIA"><i class="fa fa-youtube"
                    aria-hidden="true"></i></a></li>
              <li><a target="_blank" href="https://t.me/SuccessLifeGL"><i class="fa fa-paper-plane" aria-hidden="true"></i></a></li>
              <li><a target="_blank" href="https://medium.com/@successlife"><i class="fa fa-medium" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footerBottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="footerLogo"><img src="assets/images/footer-logo.png" alt=""> <span>Copyright 2019 © SuccessLife
              Global Pte. Ltd.</span></div>
        </div>
        <div class="col-lg-5">
          <div class="footLink">
            <ul>
              <li><a routerLink="/terms">Terms</a></li>
              <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
              <!-- <li><a routerLink="/cookie-policy">Cookie Policy</a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>