<div class="rightPanel alt">
  <breadcrumb>
    <li class="active"><span>Notifications</span></li>
  </breadcrumb>
  
  <div class="row">
    <div class="col-md-4"><h2 class="headTitle">All Notifications</h2></div>
    <div class="col-lg-6">	 
      <div class="search_sec">
        <form  [formGroup]="searchForm" (ngSubmit)="search()"  >
          <div class="topSearchCont acTive">
            <input autocomplete="off" formControlName="string" name="string"
                placeholder="Search" type="search" >
          </div>
          <div class="topSearch">
            <button type="submit"><i class="fa fa-search"></i></button>
          </div>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
    <div class="col-md-2">
      <a class="btn btn-primary btn-sm pull-right titleLink02" [routerLink]="['/admin', 'notification', 'create']">
        <i class="fa fa-plus"></i> Create Notifications
      </a>
    </div>
    
  </div>
  
  
    <div class="">
      
      <!-- <notification-message [messages]="error_messages"></notification-message> -->
  
      <table class="table table-striped" *ngIf="records.length > 0" >
          <thead>
            <tr>
              <th>Message</th>
              <!-- <th>Type</th> -->
              <th>Date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="records.length > 0">
            <tr *ngFor="let rs of records">
              <td>
               
                <ng-container *ngIf="rs?.sender_id == user.id">
                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                </ng-container>
                <ng-container *ngIf="rs?.sender_id != user.id">
                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                </ng-container>
                {{ rs?.data }}
              </td>
              <!-- <td *ngIf="rs?.sender_id == user.id"> <i class="fa fa-arrow-up" aria-hidden="true"></i> </td>
              <td *ngIf="rs?.sender_id != user.id"><i class="fa fa-arrow-down" aria-hidden="true"></i> </td> -->
              <td>{{ rs?.created_at | date: 'dd-MM-yyyy'}}</td>
              <td>
                <button class="btn btn-sm btn-danger linkBg" type="button" (click)="deleteRecord(rs?.id)"><i class="fa fa-trash-o"></i></button>
              </td>
            </tr>
    
          </tbody>
          <tbody *ngIf="records.length === 0">
            <tr>
              <td colspan="6" class="text-center">
                No record found
              </td>
            </tr>
          </tbody>
          <tfoot class="tabPagination" *ngIf="records.length > 0">
            <tr>
              <td colspan="6">
                <app-pagination *ngIf="paginationObj" [pagination]="paginationObj" (nextPageEvent)="pagination($event)"
                 (prevPageEvent)="pagination($event)" (listPageEvent)="pagination($event)"></app-pagination>
              </td>
            </tr>
          </tfoot>
        </table>
  
      
        <div class="row mt30" *ngIf="records.length === 0">
          <div class="col-12">
              <div class="alert alert-warning text-center">
                  <strong>Oops!</strong>
                  No record found.
              </div>
          </div>
      </div>
    </div>
  </div>
  