<app-header></app-header> <!-- Header  -->

<section class="pageHeading d-flex">
  <div class="container align-self-center">
    <h3><i class="fa fa-home" aria-hidden="true"></i> / {{title}}</h3>
    <h2>{{title}}</h2>
  </div>
</section>

 <section class="cmsWrap">
      <div class="container">

        <div class="row justify-content-center">

          <div class="col-lg-6">
            <!-- <app-message></app-message> -->
            <p style="color: green;
            font-size: 18px;">
              Your account password has been changed successfully. You can now login with your newly set password and enjoy our services.
            </p>

          </div>

        </div>



      </div>
  </section>




<app-footer></app-footer>
