
    <div class="loginModal">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Log In to Your SuccessLife Account!</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     
      <div class="modal-body">
          <notification-message [messages]="messages"></notification-message>
          <form [formGroup]="loginForm" (ngSubmit)="login()" >
            <div class="modalInp" *ngVar="loginForm.get('user_name') as user_name">
              <input type="email" id="user_name" class="" placeholder="Email" name="user_name" formControlName="user_name">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <form-validation-message [fromInstance]="user_name"></form-validation-message>
            </div>
            <div class="modalInp" *ngVar="loginForm.get('password') as password" > 
                <input type="password" id="password" class="" placeholder="Password" name="password" formControlName="password">
              <i class="fa fa-lock" aria-hidden="true"></i>
              <form-validation-message [fromInstance]="password"></form-validation-message>
            </div>
            <div class="modalInp">
              <input type="submit" name="" value="Log In" [className]="loginForm.valid ? ' ' : 'disableSubmit'">
            </div>
          </form>
        <div class="fgPass">
          <h5><a routerLink="" (click)="forgotPasswordFormModal()" >Forgot Your Password ?</a></h5>
          <h6>By signing up, you agree to our 
            <!-- <a  routerLink="" (click)="redirectToTermsOfUse()" >Terms of Use</a>  -->
            <a href="/terms" target="_blank">Terms of Use</a>
            and 
            <!-- <a routerLink="" (click)="redirectToPrivacyPolicy()">Privacy Policy</a> -->
            <a href="/privacy-policy" target="_blank">Privacy Policy</a>
            .</h6>
        </div>
        <div class="or">
          <span>or</span>
        </div>
  
        <!-- <a class="loginSocial facebookLogin" (click)="socialSignIn('facebook')" routerLink="" > <img src="assets/images/facebook-login.png" alt=""> <span></span> Continue with Facebook</a> -->
        <a class="loginSocial googleLogin" (click)="socialSignIn('google')" routerLink="" > <img src="assets/images/google-login.png" alt=""> <span></span> Continue with Google</a>
  
        <div class="popSign">
          <h5>Don't have an account? <a routerLink="" (click)="registerFormModal()">Sign up</a></h5>
        </div>
  
      </div>
    </div>
  
  
  
  
  