.youtube_area{
    padding:30px 0;

    .video_area{
        // padding: 0 100px;

        
    }

    // .owl-nav button{
    //     background: #000 !important;
    // }
}

.blankPage{
    color: green;
    font-size: 20px;
    margin-left: 312px;
    padding: 50px 0px 50px 0px;
}