<app-header></app-header> <!-- Header  -->

<section class="pageHeading d-flex">
  <div class="container align-self-center">
    <h3><i class="fa fa-home" aria-hidden="true"></i> / {{title}}</h3>
    <h2>{{title}}</h2>
  </div>
</section>

 <section class="cmsWrap">
      <div class="container">

        <div class="row justify-content-center">

          <div class="col-lg-6">
            <!-- <app-message></app-message> -->
            <p style="color: green;
            font-size: 18px;">
              Thank you for getting registered with SuccessLife. Please verify your registration via link sent to your registered mail id.
            </p>
            <p style="font-size: 14px;">
              <b>Note:</b> If you haven't received your registration mail. Kindly check it out in your Junk/Spam folder.
            </p>

          </div>

        </div>



      </div>
  </section>




<app-footer></app-footer>
