.transcTop {
    padding-top: 50px;
    display: block;
    .billingInfo {
        width: 320px;
        float: left;
    }
    .orderSchedule {
        width: 320px;
        float: right;
        text-align: right;
    }
}

.transcBottom {
    padding-top: 20px;
    clear: both;

    .orderSummary {
        float: right;
        // width: 320px;
    }

    .imageCourse {
        display: block;
        padding: 5px;
        width:100px;
    }
    .titleCourse {
        display: block;
        padding: 5px;
    }
}