<div class="rightPanel alt">

	<breadcrumb>	
		<li class="active"><span>Update Your Password</span></li>
	</breadcrumb>	

	<div class="row">
	  <div class="col-md-6"><h2 class="headTitle">Update Your Password</h2></div>
	  <div class="col-md-6"></div>
	</div>

	<div class="alert alert-success" *ngIf="success_messages !=''">
		{{success_messages}}
	</div> 
	<notification-message *ngIf="error_messages !=''" [messages]="error_messages"></notification-message>	
	<div class="panel panel-default">
		<form class="form-horizontal" (ngSubmit)="updateUserPasswordForm(updatePasswordForm)">
			<div class="panel-body">
				<div class="box-body" [formGroup]="updatePasswordForm">
					<div class="form-group">
						<label for="name" class="control-label">Old Password</label>
						<div class="" >
							<input type="password" formControlName="oldPassword" class="form-control" id="oldPassword">
							
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="control-label">Password</label>
						<div class="" >
							<input type="password" formControlName="password" class="form-control" id="password">
							
						</div> 
					</div>
					<div class="form-group">
						<label for="name" class="control-label">Confirm Password</label>
						<div class="">
							<input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword">
						</div>
					
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<a [routerLink]="['/admin/dashboard']" class="btn btn-danger">Cancel</a>
				<button type="submit" class="btn btn-info pull-right" [disabled]="updatePasswordForm.invalid">
					Update Password
				</button>
			</div>
		</form>
	</div>

</div>