<div class="leftNavDash">
  <h2>Plan your course</h2>
  <ul>
    <li><a routerLink="/dashboard/course-edit/target-your-students"  routerLinkActive="active"  >Target Your Consumers</a></li>

    <li><a routerLink="/dashboard/course-edit/curriculum" routerLinkActive="active" >Curriculum</a></li>

    <li><a routerLink="/dashboard/course-edit/course-landing-page"  routerLinkActive="active">Course Landing Page</a></li>

    <li><a routerLink="/dashboard/course-edit/price-and-coupons"  routerLinkActive="active" >Price & Coupons</a></li>
    <li><a routerLink="/dashboard/course-edit/communication" routerLinkActive="active">Communication</a></li>
  </ul>
</div>

<!-- <p>

  <a routerLink="/dashboard/course-edit/target-your-students">Target Your Students</a>
  <br>
  <a routerLink="/dashboard/course-edit/curriculum">Curriculum</a>
  <br>
  <a routerLink="/dashboard/course-edit/course-landing-page">Course Landing Page</a>
  <br>
  <a routerLink="/dashboard/course-edit/price-and-coupons">Price & Coupons</a>
  <br>
  <a routerLink="/dashboard/course-edit/communication">Communication</a>
  <br>
</p> -->
