<div class="rightPanel alt">
    <breadcrumb>
      <li class="active"><span>Announcements</span></li>
    </breadcrumb>
    
    <div class="row">
     <div class="col-md-4"><h2 class="headTitle">All Announcements</h2></div>
     <div class="col-lg-6">	 
        <div class="search_sec">
          <form  [formGroup]="searchForm" (ngSubmit)="search()"  >
            <div class="topSearchCont acTive">
              <input autocomplete="off" formControlName="string" name="string"
                  placeholder="Search" type="search" >
            </div>
            <div class="topSearch">
              <button type="submit"><i class="fa fa-search"></i></button>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
    
    
      <div class="table-responsive">
        
        <!-- <notification-message [messages]="error_messages"></notification-message> -->
    
        <table class="table table-striped" *ngIf="records.length > 0">
            <thead>
              <tr>
                  <th>Title</th>
                  <th width="60%">Description</th>
                  <th>User</th>
                  <th>Date</th>
              </tr>
            </thead>
            <tbody *ngIf="records.length > 0">
                <tr *ngFor=" let annoucement of records; let i = index">
                    <td>{{ annoucement?.title}}</td>
                    <td>{{ annoucement?.description}}</td>
                    <td class="topProfile profileImg">
                        <span class="topProfileImg">
                          <img src="{{annoucement?.user?.avatar}}"   onError="this.src='assets/images/no-image.png';"  alt="..." />    
                        </span>
                        <br>
                        {{annoucement?.user?.email}}
                    </td>
                    <td>{{ annoucement?.created_at | date: 'dd-MM-yyyy'}}</td>
                </tr>
      
            </tbody>
            <tbody *ngIf="records.length === 0" >
              <tr>
                <td colspan="6" class="text-center">
                  No record found
                </td>
              </tr>
            </tbody>
            <tfoot class="tabPagination" *ngIf="records.length > 0" >
              <tr>
                <td colspan="6">
                  <app-pagination *ngIf="paginationObj" [pagination]="paginationObj" (nextPageEvent)="pagination($event)"
                   (prevPageEvent)="pagination($event)" (listPageEvent)="pagination($event)"></app-pagination>
                </td>
              </tr>
            </tfoot>
          </table>
    
        
          <div class="row mt30" *ngIf="records.length === 0">
            <div class="col-12">
                <div class="alert alert-warning text-center">
                    <strong>Oops!</strong>
                    No record found.
                </div>
            </div>
        </div>
      </div>
    </div>
    