.pageHeading{ background: url(../../../../assets/images/page-heading.jpg) top center no-repeat; background-size: cover; min-height: 145px;
    h2{ color: #FFF; font-size: 36px; font-weight: 300;}
    h3{ color: #FFF; font-size: 16px; font-weight: 300;}
  }
  
  .cmsWrap{ padding: 50px 0;
    p{ padding: 15px 0 0 0; line-height: 24px;}
    .cmsUl{ padding: 15px 0 10px 20px;
      li{ margin: 10px 0 0 20px; color: #003440; position: relative;
        &:before{content: "\f061"; font-family: FontAwesome; position: absolute; left: -20px; top: 0;}
      }
    }
  }
  
  .blockquoteTheme{ background-color: #e6f2f5; border-color: #e6f2f5; color: #003440; padding: 20px; margin: 15px 0 0 0; line-height: 24px; border-radius: 3px;}
  .vendorSignup {
    margin-left: 43%;
    margin-top: 2%;
}  
  .vendorSignup button {
    display: inline-block;
    background: #151840;
    color: #FFF;
    padding: 7px 10px;
    border-radius: 3px;
    margin-right: 15px;
    border: none;
    cursor: pointer;
  }