.inputWrap{ 
  position: relative;
  margin-bottom: 14px
    
  }
.inpField{
    width: 100%;
    background: #f8f8f8;
    border: 1px solid #d1d1d1;
    font-size: 16px;
    color: #838383;
    padding: 18px 24px;
  }
    