<section class="mainContainer">
    <div class="container-fluid">
      <div class="row">
          <div class="col-xl-2 col-lg-3 leftPanel">
            <app-dashboard-left-panel></app-dashboard-left-panel>
          </div>
          
        
          <div class="col-xl-10 col-lg-9">
              <div class="rightPanel">

                  <div class="centerHeading">
                    <h2>{{(isCreateMode) ? 'Add Speaker' : 'Edit Speaker'}}</h2>
                  </div>
                  <div>
                    <a href="javascript:void(0);" routerLink="/dashboard/my-speaker-list" class="btn btn-primary btn-sm titleLink02 pull-right">Back</a>
                  </div>
                 
                  <div class="formWrap">
                    <form [formGroup]="formObj" (submit)="saveForm()">
                      <div class="row">
                          <div class="col-sm-12"><label for="">Name:*</label>
                            <div class="inputWrap">
                              <input type="text" class="inpField" formControlName="name" name="name" placeholder="Name" type="text">
                              <div class="form-validation-error" *ngIf="formError?.name">
                                <span *ngFor="let err of formError?.name">{{err?.message}}</span>
                              </div>
                            </div>
                          </div>
                      </div>
                
                      <!-- <div class="row">
                        <div class="col-sm-12"><label for="">About:</label>
                          <div class="inputWrap">
                            <input type="text" class="inpField" formControlName="about" name="about" placeholder="About" type="text">
                            <div class="form-validation-error" *ngIf="formError?.about">
                              <span *ngFor="let err of formError?.about">{{err?.message}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group clearfix">
                        <label for="content" class="control-label">Image</label>
                
                        <br>
                      
                        <image-cropper
                        [imageChangedEvent]="imageChangedEvent"
                        [maintainAspectRatio]="true"
                        [aspectRatio]="1 / 1"
                        [resizeToWidth]="290"
                        format="png, jpeg,jpg"
                        (imageCropped)="imageCropped($event)"
                        (imageLoaded)="imageLoaded()"
                        (loadImageFailed)="loadImageFailed()"
                        ></image-cropper>
                        <div class="clearfix"></div>
                        <div class="imageField">
                          <img id="blah" [src]="croppedImage || 'assets/images/demo.png'" alt="your image" style="width:150px;"/>
                        </div>
                
                        <div class="">
                          <span class="btn btn-primary btn-file"> Upload File <input  type="file" name="file" class="form-control" (change)="uploadFile($event)" id="file" style="width: 124px;" required ></span>
                          <br>
                           <span [innerHtml]="thumbnail"></span>
                           <br>
                          <a class="btn btn-sm btn-primary" *ngIf="!!fileInstance"  (click)="uploadToS3()">upload To S3
                          </a>
                        </div>
                      </div> -->
                
                      <!-- disableSubmit -->
                      <!-- <input type="submit" value="Save" class="submitBtn m-t-20"> -->
                      <button type="submit" class="submitBtn" [ngClass]="{'disableSubmit': formLoading}" [disabled]="formLoading">{{(formLoading) ? 'Saving' : 'Save'}} <i *ngIf="formLoading" class="fa fa-spinner fa-spin"></i></button>
                    </form>
                
                  </div>
                
                </div>
          </div>
  
      </div>
    </div>
  </section>