<div class="courseOverview_banner d-flex">
  <div class="container align-self-center">
    <div class="row">
      <div class="col-sm-4">
        <iframe width="100%" height="220" src="https://www.youtube.com/embed/UB1O30fR-EE?controls=0" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-sm-8">
        <div class="courseOver_cont">
          <h1>The Complete Angular Course: Beginner to Advanced</h1>
          <div class="action_btn_area">
            <button type="button" class="continue_btn">Continue to Lecture 2</button>
            <p class="star_area"><img _ngcontent-c7="" alt="" src="assets/images/ratings3.png"> <span><a href="#">Edit
                  Your Rating</a></span></p>
          </div>
          <div class="progress_bar_area">
            <div>
              <span><strong>131</strong> of <strong>387</strong> items complete</span> <span><a href="#">Reset progress</a></span>
            </div>
            <div class="onlybararea">
              <div class="progress_bar">
                <p>
                  <ngb-progressbar showValue="true" type="success" [value]="25"></ngb-progressbar>
                </p>
              </div>
              <div class="cirtificate_bar">
                <p class="trophy"><i class="fa fa-trophy" aria-hidden="true"></i></p>
                <p>
                  <ngb-progressbar showValue="true" type="success" [value]="0"></ngb-progressbar>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cmsWrap">
  <div class="container relative_position">

    <ngb-tabset class="tabFeatured">

      <ngb-tab>
        <ng-template ngbTabTitle>Overview</ng-template>
        <ng-template ngbTabContent>
          <div class="activity_area">
            <h2>Recent activity</h2>
            <div class="row">
              <div class="col-sm-6">
                <div class="activity_box">
                  <h3>Recent questions</h3>
                  <div class="panel_body">
                    <div class="question_block">
                      <div class="user_avtar">
                        <div class="user-avatar__inner fx-c"><span class="user-initials">GS</span></div>
                      </div>
                      <a href="#">http://localhost:4200/ Works fine with no error but not 'ng build --prod'</a>
                    </div>
                    <div class="question_block">
                      <div class="user_avtar">
                        <div class="user-avatar__inner fx-c"><span class="user-initials">GS</span></div>
                      </div>
                      <a href="#">http://localhost:4200/ Works fine with no error but not 'ng build --prod'</a>
                    </div>
                    <div class="question_block">
                      <div class="user_avtar">
                        <div class="user-avatar__inner fx-c"><span class="user-initials">GS</span></div>
                      </div>
                      <a href="#">http://localhost:4200/ Works fine with no error but not 'ng build --prod'</a>
                    </div>
                  </div>
                  <div class="panel_footer">
                    <button type="button" class="btn btn-link">Browse all questions</button>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="activity_box">
                  <h3>Recent instructor announcements</h3>
                  <div class="panel_body">
                    <div class="question_block">
                      <img height="48" width="48" src="https://udemy-images.udemy.com/user/50x50/712832_5e8d_3.jpg"
                        class="user-avatar--image">
                      <a href="#">http://localhost:4200/ Works fine with no error but not 'ng build --prod'</a>
                    </div>
                    <div class="question_block">
                      <img height="48" width="48" src="https://udemy-images.udemy.com/user/50x50/712832_5e8d_3.jpg"
                        class="user-avatar--image">
                      <a href="#">http://localhost:4200/ Works fine with no error but not 'ng build --prod'</a>
                    </div>
                    <div class="question_block">
                      <img height="48" width="48" src="https://udemy-images.udemy.com/user/50x50/712832_5e8d_3.jpg"
                        class="user-avatar--image">
                      <a href="#">http://localhost:4200/ Works fine with no error but not 'ng build --prod'</a>
                    </div>
                  </div>
                  <div class="panel_footer">
                    <button type="button" class="btn btn-link">Browse all announcements</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="about_course_area">
            <h2>About this course</h2>
            <p>The most comprehensive Angular 4 (Angular 2+) course. Build a real e-commerce app with Angular, Firebase
              and
              Bootstrap 4</p>
            <div class="course_block">
              <div class="row">
                <div class="col-sm-3">By the numbers</div>
                <div class="col-sm-4">
                  <div>Skill level: All Levels</div>
                  <div>Students: 59968</div>
                  <div>Languages: English</div>
                  <div>Captions: Yes</div>
                </div>
                <div class="col-sm-5">
                  <div>Lectures: 376</div>
                  <div>Video: 29.5 hours</div>
                </div>
              </div>
            </div>

            <div class="course_block">
              <div class="row">
                <div class="col-sm-3">Features</div>
                <div class="col-sm-4">
                  <span>Available on <a href="https://udemy.app.link/mnlGX8oZPT" target="_blank" rel="noopener noreferrer">iOS</a>
                    and <a href="https://udemy.app.link/mnlGX8oZPT" target="_blank" rel="noopener noreferrer">Android</a></span>
                </div>
                <div class="col-sm-5">
                  <div>Certificate of Completion</div>
                </div>
              </div>
            </div>

            <div class="course_block">
              <div class="row">
                <div class="col-sm-3">Description</div>
                <div class="col-sm-9">
                  <div [ngClass]="(seeMoreArea==false)?'description_block':'description_block_visible'">
                    <p>Angular is one of the most popular frameworks for building client apps with HTML, CSS and
                      TypeScript.
                      If
                      you want to <strong>establish yourself as a front-end or a full-stack developer</strong>, you
                      need to
                      learn Angular.</p>
                    <P>If you've been confused or frustrated jumping from one Angular 4 tutorial to another, you've
                      come to
                      the
                      right place. In this course, Mosh, <strong>author of several best-selling courses on Udemy,</strong>
                      takes you on <strong>a fun
                        and pragmatic journey to master Angular 4.</strong> </P>
                    <p>By the end of watching this course, you'll be able to:&nbsp;</p>
                    <ul>
                      <li><strong>Build real client apps with Angular </strong>on your own&nbsp;</li>
                      <li><strong>Troubleshoot</strong>&nbsp;common compile-time and run-time errors</li>
                      <li>Write&nbsp;<strong>clean and maintainable code&nbsp;</strong>like a professional</li>
                      <li>Apply&nbsp;<strong>best practices</strong>&nbsp;when building Angular apps&nbsp;</li>
                    </ul>
                    <p>Right from the beginning, you'll jump in and <strong>build your first Angular app within minutes</strong>.
                      Say goodbye to boring tutorials and courses with rambling instructors and&nbsp;useless
                      theories!&nbsp;</p>
                    <p>Angular 2+&nbsp;has been written in TypeScript. So, in&nbsp;section 2, you'll<strong>&nbsp;learn
                        the
                        fundamentals of TypeScript and object-oriented programming</strong> to better understand and
                      appreciate this powerful framework.&nbsp;</p>
                  </div>
                  <div (click)="seeMore()" class="seemore">+ See more</div>
                </div>
              </div>
            </div>

            <div class="course_block">
              <div class="row">
                <div class="col-sm-3">Instructor</div>
                <div class="col-sm-9">
                  <div class="instructor_profile">
                    <img alt="User photo" height="64" width="64" src="https://udemy-images.udemy.com/user/200_H/712832_5e8d_3.jpg"
                      class="user-avatar">
                    <div class="instructor-profile--title">
                      <a href="#">Mosh Hamedani</a>
                      <p>Passionate Software Engineer and Best-selling Author</p>
                    </div>
                    <div class="social_area">
                      <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-twitter-square"
                          aria-hidden="true"></i></a> <a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
                    </div>
                    <p>Mosh (Moshfegh) Hamedani is a passionate and creative software engineer with a strong focus on
                      pragmatism and simplicity. He started programming at the age of seven on a Commodore 64. Later,
                      during his high school years, he started learning C and C++ . In 2002, along with the first
                      release of .NET, he shifted his focus to C#. Since then, he has been involved in the design and
                      implementation of numerous software projects, including modern web applications, mobile apps,
                      desktop applications and frameworks.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>

      <ngb-tab>
        <ng-template ngbTabTitle>Course Content</ng-template>
        <ng-template ngbTabContent>
          <div class="row">
            <div class="col-sm-4 search_area">
              <div class="input-group">
                <input type="text" class="form-control">
                <div class="input-group-prepend">
                  <span class="input-group-text" id=""><i class="fa fa-search" aria-hidden="true"></i></span>
                </div>
              </div>
            </div>
            <div class="col-sm-8 current_link">
              <div class="float-right">
                <span class="buttonLink active">Current Section</span>
                <span class="buttonLink">All Sections</span>
                <span class="buttonLink">All Resources</span>
              </div>
            </div>
          </div>
          <div class="accordian_cont">
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <span>Section: 1</span>
                  <span class="count">11 / 12</span>
                  <h3>Introduction</h3>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="acc_cont">
                    <ul>
                      <li class="active">
                        <a href="#">
                          <span class="play_btn"><i class="fa fa-play-circle" aria-hidden="true"></i></span>
                          <span class="description">1.Introduction</span>
                          <span>02:51</span>
                          <span><button><i class="fa fa-check-circle-o" aria-hidden="true"></i></button></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="play_btn"><i class="fa fa-play-circle" aria-hidden="true"></i></span>
                          <span class="description">1.Introduction</span>
                          <span>02:51</span>
                          <span><button><i class="fa fa-check-circle-o" aria-hidden="true"></i></button></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="play_btn"><i class="fa fa-play-circle" aria-hidden="true"></i></span>
                          <span class="description">1.Introduction</span>
                          <span>02:51</span>
                          <span><button><i class="fa fa-check-circle-o" aria-hidden="true"></i></button></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="play_btn"><i class="fa fa-play-circle" aria-hidden="true"></i></span>
                          <span class="description">1.Introduction</span>
                          <span>02:51</span>
                          <span><button><i class="fa fa-check-circle-o" aria-hidden="true"></i></button></span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>

          <div class="accordian_cont">
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <span>Section: 2</span>
                  <span class="count">18 / 18</span>
                  <h3>TypeScript Fundamentals</h3>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="acc_cont">
                    <ul>
                      <li class="active">
                        <a href="#">
                          <span class="play_btn"><i class="fa fa-play-circle" aria-hidden="true"></i></span>
                          <span class="description">1.Introduction</span>
                          <span>02:51</span>
                          <span><button><i class="fa fa-check-circle-o" aria-hidden="true"></i></button></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="play_btn"><i class="fa fa-play-circle" aria-hidden="true"></i></span>
                          <span class="description">1.Introduction</span>
                          <span>02:51</span>
                          <span><button><i class="fa fa-check-circle-o" aria-hidden="true"></i></button></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="play_btn"><i class="fa fa-play-circle" aria-hidden="true"></i></span>
                          <span class="description">1.Introduction</span>
                          <span>02:51</span>
                          <span><button><i class="fa fa-check-circle-o" aria-hidden="true"></i></button></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="play_btn"><i class="fa fa-play-circle" aria-hidden="true"></i></span>
                          <span class="description">1.Introduction</span>
                          <span>02:51</span>
                          <span><button><i class="fa fa-check-circle-o" aria-hidden="true"></i></button></span>
                        </a>
                      </li>
                    </ul>
                  </div>

                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>

          <div class="accordian_cont">
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <span>Section: 3</span>
                  <span class="count">18 / 18</span>
                  <h3>Angular Fundamentals</h3>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="acc_cont">
                    <ul>
                      <li class="active">
                        <a href="#">
                          <span class="play_btn"><i class="fa fa-play-circle" aria-hidden="true"></i></span>
                          <span class="description">1.Introduction</span>
                          <span>02:51</span>
                          <span><button><i class="fa fa-check-circle-o" aria-hidden="true"></i></button></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="play_btn"><i class="fa fa-play-circle" aria-hidden="true"></i></span>
                          <span class="description">1.Introduction</span>
                          <span>02:51</span>
                          <span><button><i class="fa fa-check-circle-o" aria-hidden="true"></i></button></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="play_btn"><i class="fa fa-play-circle" aria-hidden="true"></i></span>
                          <span class="description">1.Introduction</span>
                          <span>02:51</span>
                          <span><button><i class="fa fa-check-circle-o" aria-hidden="true"></i></button></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="play_btn"><i class="fa fa-play-circle" aria-hidden="true"></i></span>
                          <span class="description">1.Introduction</span>
                          <span>02:51</span>
                          <span><button><i class="fa fa-check-circle-o" aria-hidden="true"></i></button></span>
                        </a>
                      </li>
                    </ul>
                  </div>

                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>

        </ng-template>
      </ngb-tab>

      <ngb-tab>
        <ng-template ngbTabTitle>Q&A</ng-template>
        <ng-template ngbTabContent>
          <div class="search_question">
            <div class="search_box"><input placeholder="Search for a question" type="text" value=""></div>
            <span class="or">Or</span>
            <button class="blue_btn ">Ask a new question</button>
          </div>
          <div class="shorting">
            <div class="row">
              <div class="col-sm-6">
                <select class="select-1 ng-pristine ng-valid ng-touched">
                  <option>Sort by popular</option>
                  <option>Sort by recency</option>
                </select>
              </div>
              <div class="col-sm-6 select_box">
                <span><input type="checkbox" name="" /> See questions I'm following</span>
                <span><input type="checkbox" name="" /> See questions without responses</span>
              </div>
            </div>
          </div>
          <div class="qa_content">
            <div class="qa_block">
              <div class="user_avtar">
                <div class="user-avatar__inner fx-c"><span class="user-initials">GS</span></div>
              </div>
              <div class="question_list">
                <div><strong>Branding</strong></div>
                <div class="qa_des">I have to say that I didnt understand anything from this video..... but how to
                  learn how to implement a token in a backend from scratch?</div>
              </div>
              <div class="response">
                <div class="cont"><strong>0</strong></div>
                <div>Responses</div>
              </div>
            </div>
            <div class="qa_block">
              <div class="user_avtar">
                <div class="user-avatar__inner fx-c"><span class="user-initials">GS</span></div>
              </div>
              <div class="question_list">
                <div><strong>Branding</strong></div>
                <div class="qa_des">I have to say that I didnt understand anything from this video..... but how to
                  learn how to implement a token in a backend from scratch?</div>
              </div>
              <div class="response">
                <div class="cont"><strong>0</strong></div>
                <div>Responses</div>
              </div>
            </div>
            <div class="qa_block">
              <div class="user_avtar">
                <div class="user-avatar__inner fx-c"><span class="user-initials">GS</span></div>
              </div>
              <div class="question_list">
                <div><strong>Branding</strong></div>
                <div class="qa_des">I have to say that I didnt understand anything from this video..... but how to
                  learn how to implement a token in a backend from scratch?</div>
              </div>
              <div class="response">
                <div class="cont"><strong>0</strong></div>
                <div>Responses</div>
              </div>
            </div>
            <div class="qa_block">
              <div class="user_avtar">
                <div class="user-avatar__inner fx-c"><span class="user-initials">GS</span></div>
              </div>
              <div class="question_list">
                <div><strong>Branding</strong></div>
                <div class="qa_des">I have to say that I didnt understand anything from this video..... but how to
                  learn how to implement a token in a backend from scratch?</div>
              </div>
              <div class="response">
                <div class="cont"><strong>0</strong></div>
                <div>Responses</div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>

      <ngb-tab>
        <ng-template ngbTabTitle>Bookmark</ng-template>
        <ng-template ngbTabContent>
          <div class="bookmark_block">
            <div class="bookmar_header">
              <span>Section 5</span>
              <h3>Building Re-usable Components</h3>
            </div>
            <div class="lecture_area">
              <div><strong>53. Input Properties</strong></div>
              <span>00:10</span> 2 months ago
            </div>
            <div class="lecture_area">
              <div><strong>53. Input Properties</strong></div>
              <span>00:10</span> 2 months ago
            </div>
          </div>
          <div class="bookmark_block">
            <div class="lecture_area">
              <div><strong>53. Input Properties</strong></div>
              <span>00:10</span> 2 months ago
            </div>
            <div class="lecture_area">
              <div><strong>53. Input Properties</strong></div>
              <span>00:10</span> 2 months ago
            </div>
          </div>
          <div class="bookmark_block">
            <div class="lecture_area">
              <div><strong>53. Input Properties</strong></div>
              <span>00:10</span> 2 months ago
            </div>
            <div class="lecture_area">
              <div><strong>53. Input Properties</strong></div>
              <span>00:10</span> 2 months ago
            </div>
          </div>
        </ng-template>
      </ngb-tab>

      <ngb-tab>
        <ng-template ngbTabTitle>Announcements</ng-template>
        <ng-template ngbTabContent>
          <div class="announcement_block">
            <div class="announcement_heading">
              <img height="48" width="48" src="https://udemy-images.udemy.com/user/50x50/712832_5e8d_3.jpg" class="user-avatar">
              <div class="writer_area">
                <span>
                  <a href="#" target="_blank">Mosh</a>
                  posted an announcement
                  <time>3 months ago.</time> 
                  <span><i class="fa fa-flag" aria-hidden="true"></i></span>
                </span>
              </div>
              <div class="write_cont">
                <h2>This language gives you 2x-4x more job opportunities</h2>
                <p>Hi guys,</p>
                <p>Python is super-hot right now and I've had a ton of requests to create a Python tutorial.</p>
                <p>In CA, there are currently 17,000 jobs available for Python developers compared to 8,000 and 4,000 jobs for JavaScript and C# developers.</p>
                <p>Python has taken over as the number one language employers are looking for.</p>
                <p>It's a beautiful, powerful and versatile language that you can use for a wide range of jobs.</p>
                <p>I uploaded my Python tutorial two weeks ago and it's been watched 34,000 times.</p>
                <p><a href="#">Python Tutorial for Beginners</a></p>
              </div>
              <div class="commnt_area">
                <div class="user_avtar">
                  <div class="user-avatar__inner fx-c"><span class="user-initials">GS</span></div>
                </div>
                <div class="commnt_fld"><input placeholder="Comment" type="text" value=""></div>
              </div>
              <div class="seemore" (click)="seeMore()">+ See more</div>
            </div>
          </div>
          <div class="announcement_block">
            <div class="announcement_heading">
              <img height="48" width="48" src="https://udemy-images.udemy.com/user/50x50/712832_5e8d_3.jpg" class="user-avatar">
              <div class="writer_area">
                <span>
                  <a href="#" target="_blank">Mosh</a>
                  posted an announcement
                  <time>3 months ago.</time> 
                  <span><i class="fa fa-flag" aria-hidden="true"></i></span>
                </span>
              </div>
              <div class="write_cont">
                <h2>This language gives you 2x-4x more job opportunities</h2>
                <p>Hi guys,</p>
                <p>Python is super-hot right now and I've had a ton of requests to create a Python tutorial.</p>
                <p>In CA, there are currently 17,000 jobs available for Python developers compared to 8,000 and 4,000 jobs for JavaScript and C# developers.</p>
                <p>Python has taken over as the number one language employers are looking for.</p>
                <p>It's a beautiful, powerful and versatile language that you can use for a wide range of jobs.</p>
                <p>I uploaded my Python tutorial two weeks ago and it's been watched 34,000 times.</p>
                <p><a href="#">Python Tutorial for Beginners</a></p>
              </div>
              <div class="commnt_area">
                <div class="user_avtar">
                  <div class="user-avatar__inner fx-c"><span class="user-initials">GS</span></div>
                </div>
                <div class="commnt_fld"><input placeholder="Comment" type="text" value=""></div>
              </div>
              <div class="seemore" (click)="seeMore()">+ See more</div>
            </div>
          </div>
          
        </ng-template>
      </ngb-tab>
    </ngb-tabset>

    <div class="option_menu">
      <div ngbDropdown placement="bottom-right" class="d-inline-block">
        <button class="option_nav" id="dropdownBasic1" ngbDropdownToggle>Option</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item">Favorite this course</button>
          <button class="dropdown-item">Share</button>
          <button class="dropdown-item">Archive this course</button>
        </div>
      </div>
    </div>

  </div>
</div>