<section class="mainContainer">
    <div class="container-fluid">
      <div class="row">
          <div class="col-xl-2 col-lg-3 leftPanel">
            <app-dashboard-left-panel></app-dashboard-left-panel>
          </div>
          
        
          <div class="col-xl-10 col-lg-9">
              <div class="rightPanel alt">
                  <!-- <breadcrumb>
                    <li class="active"><span>{{categoryType=='courses'? 'Course' : 'Event'}} Category</span></li>
                  </breadcrumb>
                   -->
                  <div class="row">
                    <div class="col-md-4"><h2 class="headTitle">All {{categoryType=='courses'? 'Course' : 'Event'}} Category</h2></div>
                    <!-- <div class="col-lg-6">	 
                      <div class="search_sec">
                        <form  [formGroup]="searchForm" (ngSubmit)="search()"  >
                          <div class="topSearchCont acTive">
                            <input autocomplete="off" formControlName="string" name="string"
                                placeholder="Search" type="search" >
                          </div>
                          <div class="topSearch">
                            <button type="submit"><i class="fa fa-search"></i></button>
                          </div>
                          <div class="clearfix"></div>
                        </form>
                      </div>
                    </div> -->
                    <div class="col-md-8">
                      <a class="btn btn-primary btn-sm pull-right titleLink02" [routerLink]="['/dashboard',categoryType,'category', 'create']">
                        <i class="fa fa-plus"></i> Create Category
                      </a>
                    </div>
                    
                  </div>
                  
                  
                    <div class="">
                      
                      <!-- <notification-message [messages]="error_messages"></notification-message> -->
                  
                      <table class="table table-striped" *ngIf="data.length > 0" >
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Icon</th>
                              <th>Parent</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody *ngIf="data.length > 0">
                            <tr *ngFor="let rs of data">
                              <td class="">
                                {{ rs?.name }}
                              </td>
                            
                              <td><i class="fa {{rs?.icon}}" aria-hidden="true"></i></td>
                              <td>{{(!!rs.parent?.name) ? (rs.parent?.name) :'-----'}}</td>
                              <td class="">
                                <ng-container *ngIf="rs.created_by == user.id">
                                    <a [routerLink]="['/dashboard',categoryType,'category',rs.id,'edit']" class="btn btn-sm btn-success linkBg" (click)="setCurrentCategory(rs.id)">
                                      <i class="fa fa-pencil-square-o"></i>
                                    </a>
                                    <button
                                    [swal]="{text:'Do you really want to remove this category',type:'question'}"
                                    (confirm)="removeCategory(rs.id,i)"
                                    type="button"
                                    class="btn btn-sm btn-danger linkBg">
                                      <i class="fa fa-trash-o"></i>
                                    </button>
                              
                                    <button [swal]="{text:'Do you want to continue',type:'question'}"
                                            (confirm)="changeActiveStaus(rs.is_active,rs.id,i)"
                                            [innerHtml]="rs.is_active==1? 'Enable' : 'Disable'" 
                                      class="btn btn-sm btn-success linkBg"></button>
                                </ng-container>
                                  
                              </td>
                            </tr>
                    
                          </tbody> 
                          <tbody *ngIf="data.length === 0">
                            <tr>
                              <td colspan="4" class="text-center">
                                No record found
                              </td>
                            </tr>
                          </tbody>
                          <tfoot class="tabPagination" *ngIf="data.length > 0">
                            <tr>
                              <td colspan="4">
                                <app-pagination *ngIf="paginationObj" [pagination]="paginationObj" (nextPageEvent)="pagination($event)"
                                 (prevPageEvent)="pagination($event)" (listPageEvent)="pagination($event)"></app-pagination>
                              </td>
                            </tr>
                          </tfoot>
                        </table>
                  
                      
                        <div class="row mt30" *ngIf="data.length === 0">
                          <div class="col-12">
                              <div class="alert alert-warning text-center">
                                  <strong>Oops!</strong>
                                  No record found.
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  
          </div>
  
      </div>
    </div>
  </section>