<div class="rightPanel alt">
	<breadcrumb>
		<li><a routerLink="/admin/testimonial">Testimonials</a></li>
		<li class="active"><span>{{formData.name}}</span></li>
	</breadcrumb>


		<notification-message [messages]="error_messages"></notification-message>
		<div class="panel panel-default">
			<form class="form-horizontal" #testimonialForm="ngForm" (ngSubmit)="savetTestimonial(testimonialForm)">
				<div class="panel-body">
					<div class="box-body">
						<div class="form-group">
							<label for="name" class="control-label">Name</label>
							<div class="">
								<input type="text" [(ngModel)]="formData.name" #name="ngModel" name="name" class="form-control" id="name" required>								
								<form-validation-message [fromInstance]="name"></form-validation-message>
							</div>
						</div>
						<div class="form-group">
							<label for="education" class="control-label">Education</label>
							<div class="">
								<input type="text" [(ngModel)]="formData.education" #education="ngModel" name="education" class="form-control" id="education" required>								
								<form-validation-message [fromInstance]="education"></form-validation-message>
							</div>
						</div>

						<div class="form-group">
							<label for="avatar" class="control-label">Avatar</label>
							<div class="inputWrap ">
		
								<image-cropper
									[imageChangedEvent]="imageChangedEvent" 
									[maintainAspectRatio]="true" 
									[aspectRatio]="1/1" 
									[resizeToWidth]="85"
									format="png, jpeg,jpg" 
									(imageCropped)="imageCropped($event)" 
									(imageLoaded)="imageLoaded()" 
									(loadImageFailed)="loadImageFailed()">
								</image-cropper>
								
								<div class="clearfix"></div>
								<div class="imageField image-hldr">
									<img id="blah" [src]="formData.avatar || 'assets/images/demo.png'" alt="your image" style="width:150px;" />
								</div>
								<div class="clearfix"></div>
		
								<div class="upload_btn_area">
									<span class="btn btn-primary btn-file"> Choose File
										<input type="file" name="file" class="form-control" (change)="uploadFile($event)" id="file" style="width: 124px;">
									</span> <a class="btn btn-sm btn-primary btn-file" *ngIf="!!fileInstance" (click)="uploadToS3()">Upload</a>
									<br>
									<span [innerHtml]="thumbnail"></span>
									<br>
									
								</div>
								<div class="clearfix"></div>
							</div>
							<input type="hidden" [(ngModel)]="formData.avatar" #old_avatar="ngModel" name="avatar" class="form-control" id="avatar">
							<h6  class="fileFormatInfo"> *Image needs to be in png,jpeg,jpg,gif format. </h6>			
						</div>
						

						<div class="form-group">
							<label for="description" class="control-label">Description</label>
							<div class="">
								<textarea [(ngModel)]="formData.description" #description="ngModel" name="description" class="form-control" id="description" required></textarea>
								<form-validation-message [fromInstance]="description"></form-validation-message>
							</div>
						</div>
						<div class="form-group">
							<label for="icon" class="control-label"><b>Is active:</b> </label>

							<span class="sideRadio">
							<input class="" type="radio" name="is_active" [(ngModel)]="formData.is_active" id="is_active" [value]=1>
							<label class="form-check-label" for="is_active">
								Yes
							</label>
							</span>

							<span class="sideRadio">
							<input class=""  type="radio" name="is_active" [(ngModel)]="formData.is_active" id="is_active_0" [value]=0>
							<label class="form-check-label" for="is_active_0">
								No
							</label>
							</span>

					</div>						
					</div> 
				</div>
				<div class="panel-footer">
					<a [routerLink]="['/admin/testimonial']" class="btn btn-danger">Cancel</a>
					<button type="submit" class="btn btn-info pull-right" [disabled]="testimonialForm.invalid">
						Save
					</button>
				</div>
			</form>
		</div>
</div>
