

<div class="eventBanner d-flex">
  <div class="container align-self-center">
    <h2>Events</h2>
    <h3>Etiam vehicula sapien ac aliquet porttitor. Donec eget arcu <br> neque. Fusce sed nisl non..</h3>
  </div>
</div>

<div class="eventMain">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-4">
        <div class="browseBy">
          <h2>Browse by Categories</h2>
          <ul>
            <li><a href="#">Health</a></li>
            <li><a href="#">Educational</a></li>
            <li><a href="#">Personal coaching</a></li>
            <li><a href="#">Masterclass courses</a></li>
          </ul>
        </div>
        <div class="browseBy alt">
          <h2>Featured events</h2>
          <div class="featuredSide">
            <owl-carousel [options]="featureSide"  [carouselClasses]="['owl-theme', 'sliding']" >
            <div class="item">
              <div class="featuredSideSingle">
                <div class="featuredSideSingleImg"><img src="assets/images/featured.jpg" alt=""></div>
                <h3>Masterclass courses for skills development</h3>
                <img src="assets/images/ratings.png" alt="">
                <h4>01.08.2018</h4>
              </div>
              <div class="featuredSideSingle">
                <div class="featuredSideSingleImg"><img src="assets/images/featured.jpg" alt=""></div>
                <h3>Masterclass courses for skills development</h3>
                <img src="assets/images/ratings.png" alt="">
                <h4>01.08.2018</h4>
              </div>
              <div class="featuredSideSingle">
                <div class="featuredSideSingleImg"><img src="assets/images/featured.jpg" alt=""></div>
                <h3>Masterclass courses for skills development</h3>
                <img src="assets/images/ratings.png" alt="">
                <h4>01.08.2018</h4>
              </div>
            </div>
            <div class="item">
              <div class="featuredSideSingle">
                <div class="featuredSideSingleImg"><img src="assets/images/featured.jpg" alt=""></div>
                <h3>Masterclass courses for skills development</h3>
                <img src="assets/images/ratings.png" alt="">
                <h4>01.08.2018</h4>
              </div>
              <div class="featuredSideSingle">
                <div class="featuredSideSingleImg"><img src="assets/images/featured.jpg" alt=""></div>
                <h3>Masterclass courses for skills development</h3>
                <img src="assets/images/ratings.png" alt="">
                <h4>01.08.2018</h4>
              </div>
              <div class="featuredSideSingle">
                <div class="featuredSideSingleImg"><img src="assets/images/featured.jpg" alt=""></div>
                <h3>Masterclass courses for skills development</h3>
                <img src="assets/images/ratings.png" alt="">
                <h4>01.08.2018</h4>
              </div>
            </div>
            </owl-carousel>
          </div>
        </div>
      </div>
      <div class="col-xl-9 col-lg-8">
        <div class="eventSort clearfix">
          <ul>
            <li class="sortIcon"><img src="assets/images/event-view1.png" alt=""></li>
            <li class="sortIcon"><img src="assets/images/event-view2.png" alt=""></li>
            <li>
              <select class="select-1" name="">
                <option value="">Sort</option>
              </select>
            </li>
          </ul>
        </div>

      <div class="featuredEvent alt clearfix">
        <div class="featuredSingleWrap">
          <div class="featuredSingle">
            <div class="featuredSingleImg"><img src="assets/images/carousalbanner6.jpg" alt=""></div>
            <div class="featuredDate"><span>AUG <br> <small>15</small></span> Masterclass courses for skills development</div>
            <div align="center" class="">
              <a class="btnBuy" routerLink="/eventdetails">Buy tickets</a>
            </div>
          </div>
        </div>

        <div class="featuredSingleWrap">
          <div class="featuredSingle">
            <div class="featuredSingleImg"><img src="assets/images/carousalbanner6.jpg" alt=""></div>
            <div class="featuredDate"><span>AUG <br> <small>15</small></span> Masterclass courses for skills development</div>
            <div align="center" class="">
              <a class="btnBuy" routerLink="/eventdetails">Buy tickets</a>
            </div>
          </div>
        </div>

        <div class="featuredSingleWrap">
          <div class="featuredSingle">
            <div class="featuredSingleImg"><img src="assets/images/carousalbanner6.jpg" alt=""></div>
            <div class="featuredDate"><span>AUG <br> <small>15</small></span> Masterclass courses for skills development</div>
            <div align="center" class="">
              <a class="btnBuy" routerLink="/eventdetails">Buy tickets</a>
            </div>
          </div>
        </div>

        <div class="featuredSingleWrap">
          <div class="featuredSingle">
            <div class="featuredSingleImg"><img src="assets/images/carousalbanner6.jpg" alt=""></div>
            <div class="featuredDate"><span>AUG <br> <small>15</small></span> Masterclass courses for skills development</div>
            <div align="center" class="">
              <a class="btnBuy" routerLink="/eventdetails">Buy tickets</a>
            </div>
          </div>
        </div>

        <div class="featuredSingleWrap">
          <div class="featuredSingle">
            <div class="featuredSingleImg"><img src="assets/images/carousalbanner6.jpg" alt=""></div>
            <div class="featuredDate"><span>AUG <br> <small>15</small></span> Masterclass courses for skills development</div>
            <div align="center" class="">
              <a class="btnBuy" routerLink="/eventdetails">Buy tickets</a>
            </div>
          </div>
        </div>

        <div class="featuredSingleWrap">
          <div class="featuredSingle">
            <div class="featuredSingleImg"><img src="assets/images/carousalbanner6.jpg" alt=""></div>
            <div class="featuredDate"><span>AUG <br> <small>15</small></span> Masterclass courses for skills development</div>
            <div align="center" class="">
              <a class="btnBuy" routerLink="/eventdetails">Buy tickets</a>
            </div>
          </div>
        </div>

      </div>

      <div class="siteBreadcrumb">
        <ul>
          <li><a href="#"></a></li>
          <li><a class="active" href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#"></a></li>
        </ul>
      </div>

      </div>
    </div>
  </div>
</div>


