
    <div class="loginModal">
        <div class="modal-header">
           
          <h4 class="modal-title" id="modal-basic-title">Forgot Password!</h4>
          <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div Class= "alert-success"   *ngIf="successMsg">
            {{successMsg}}
        </div>    
        <div class="modal-body">
            <notification-message [messages]="messages"></notification-message>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()" >
              <div class="modalInp" *ngVar="forgotPasswordForm.get('user_name') as user_name">
                <input type="email" id="user_name" class="" placeholder="Email" name="user_name" formControlName="user_name">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <form-validation-message [fromInstance]="user_name"></form-validation-message>
              </div>
          
              <div class="modalInp">
                <input type="submit" name="" value="Submit" [className]="forgotPasswordForm.valid ? ' ' : 'disableSubmit'">
              </div>
            </form>
    
        </div>
      </div>
    
    
    
    
    