<!-- start Vendor profile -->
<!-- <section class="pageHeading d-flex user_prfile_banner">
  <div class="container align-self-center">
    <h2>Jose Portilla</h2>
    <h3>Data Scientist</h3>
  </div>
</section>

<section class="cmsWrap">
  <div class="container">
    <div class="profile_top_part">
      <div class="row">
        <div class="col-sm-3">
          <div class="profile_img_area">
            <img alt="Jose Portilla" aria-label="Jose Portilla" height="120" src="https://udemy-images.udemy.com/user/200_H/9685726_67e7_4.jpg"
              width="120">
          </div>
          <div class="social_area">
            <a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </div>
          <div class="rating">
            <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star"
              aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="rht_cont">
            <p>Jose Marcial Portilla has a BS and MS in Mechanical Engineering from Santa Clara University and years of
              experience as a professional instructor and trainer for Data Science and programming. He has publications
              and patents in various fields such as microfluidics, materials science, and data science technologies. Over
              the course of his career he has developed a skill set in analyzing data and he hopes to use his experience
              in teaching and data science to help other people learn the power of programming the ability to analyze
              data, as well as present the data in clear and beautiful visualizations. Currently he works as the Head of
              Data Science for Pierian Data Inc. and provides in-person data science and python programming training
              courses to employees working at top companies, including General Electric, Cigna, The New York Times,
              Credit Suisse, and many more. Feel free to contact him on LinkedIn for more information on in-person
              training sessions or group training sessions in Las Vegas, NV.</p>

              <ul class="number_area">
                <li>
                  <div class="small_txt">Total students </div>
                  <div class="number">905,286</div>
                </li>
                <li>
                  <div class="small_txt">Courses</div>
                  <div class="number">21</div>
                </li>
                <li>
                  <div class="small_txt">Reviews</div>
                  <div class="number">249,412</div>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="profile_bottom_part">
    <div class="container">
        <h2>Courses taught by Jose Portilla</h2>
        <ngb-tabset class="tabFeatured">
          <ngb-tab title="Product">
            <ng-template ngbTabContent>
              <owl-carousel [options]="productCrousel"  [carouselClasses]="['owl-theme', 'sliding']" >
  
                <div class="item">
                  
                    <div class="carouselCont">
                      <div class="carouselImg">
                        <img src="assets/images/carousalbanner1.jpg" alt="">
                        <div class="carouselImgTag">Best seller</div>
                      </div>
                      <h3>Build Responsive Real Build Responsive Real</h3>
                      <h4>Phasellus eu pulvinar augue, eu...</h4>
                      <h5>Queen Mary University</h5>
                      <div class="ratingsDiv">
                        <div class="ratingsDivLeft"><img src="assets/images/ratings.png" alt=""></div>
                        <div class="ratingsDivRight">3.0 <span>(7,1118)</span></div>
                      </div>
                      <h6>$450.00</h6>
                    </div>
                </div> 
  
                <div class="item">
                  
                 <div class="carouselCont">
                   <div class="carouselImg">
                     <img src="assets/images/carousalbanner2.jpg" alt="">
                   </div>
                   <h3>Build Responsive Real Build Responsive Real</h3>
                   <h4>Phasellus eu pulvinar augue, eu...</h4>
                   <h5>Queen Mary University</h5>
                   <div class="ratingsDiv">
                    <div class="ratingsDivLeft"><img src="assets/images/ratings.png" alt=""></div>
                    <div class="ratingsDivRight">3.0 <span>(7,1118)</span></div>
                   </div>
                   <h6>$450.00</h6>
                 </div>
                </div>
  
                <div class="item">
                    
                 <div class="carouselCont">
                   <div class="carouselImg">
                     <img src="assets/images/carousalbanner3.jpg" alt="">
                     <div class="carouselImgTag">Best seller</div>
                   </div>
                   <h3>Build Responsive Real Build Responsive Real</h3>
                   <h4>Phasellus eu pulvinar augue, eu...</h4>
                   <h5>Queen Mary University</h5>
                   <div class="ratingsDiv">
                    <div class="ratingsDivLeft"><img src="assets/images/ratings.png" alt=""></div>
                    <div class="ratingsDivRight">3.0 <span>(7,1118)</span></div>
                   </div>
                   <h6>$450.00</h6>
                 </div>
                </div>
  
                <div class="item">
                    
                 <div class="carouselCont">
                   <div class="carouselImg">
                     <img src="assets/images/carousalbanner4.jpg" alt="">
                   </div>
                   <h3>Build Responsive Real Build Responsive Real</h3>
                   <h4>Phasellus eu pulvinar augue, eu...</h4>
                   <h5>Queen Mary University</h5>
                   <div class="ratingsDiv">
                    <div class="ratingsDivLeft"><img src="assets/images/ratings.png" alt=""></div>
                    <div class="ratingsDivRight">3.0 <span>(7,1118)</span></div>
                   </div>
                   <h6>$450.00</h6>
                 </div>
                </div>
  
                <div class="item">
                    
                 <div class="carouselCont">
                   <div class="carouselImg">
                     <img src="assets/images/carousalbanner5.jpg" alt="">
                     <div class="carouselImgTag">Best seller</div>
                   </div>
                   <h3>Build Responsive Real Build Responsive Real</h3>
                   <h4>Phasellus eu pulvinar augue, eu...</h4>
                   <h5>Queen Mary University</h5>
                   <div class="ratingsDiv">
                    <div class="ratingsDivLeft"><img src="assets/images/ratings.png" alt=""></div>
                    <div class="ratingsDivRight">3.0 <span>(7,1118)</span></div>
                   </div>
                   <h6>$450.00</h6>
                 </div>
                </div>
  
                <div class="item">
                    
                 <div class="carouselCont">
                   <div class="carouselImg">
                     <img src="assets/images/carousalbanner1.jpg" alt="">
                     <div class="carouselImgTag">Best seller</div>
                   </div>
                   <h3>Build Responsive Real Build Responsive Real</h3>
                   <h4>Phasellus eu pulvinar augue, eu...</h4>
                   <h5>Queen Mary University</h5>
                   <div class="ratingsDiv">
                    <div class="ratingsDivLeft"><img src="assets/images/ratings.png" alt=""></div>
                    <div class="ratingsDivRight">3.0 <span>(7,1118)</span></div>
                   </div>
                   <h6>$450.00</h6>
                 </div>
                </div>
  
              </owl-carousel> 
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>Event</ng-template>
            <ng-template ngbTabContent>
              <owl-carousel [options]="productCrousel"  [carouselClasses]="['owl-theme', 'sliding']" >
  
                <div class="item">
                    
                 <div class="carouselCont">
                   <div class="carouselImg">
                     <img src="assets/images/carousalbanner5.jpg" alt="">
                     <div class="carouselImgTag">Best seller</div>
                   </div>
                   <h3>Build Responsive Real Build Responsive Real</h3>
                   <h4>Phasellus eu pulvinar augue, eu...</h4>
                   <h5>Queen Mary University</h5>
                   <div class="ratingsDiv">
                    <div class="ratingsDivLeft"><img src="assets/images/ratings.png" alt=""></div>
                    <div class="ratingsDivRight">3.0 <span>(7,1118)</span></div>
                   </div>
                   <h6>$450.00</h6>
                 </div>
                </div>
  
                <div class="item">
                    
                 <div class="carouselCont">
                   <div class="carouselImg">
                     <img src="assets/images/carousalbanner4.jpg" alt="">
                   </div>
                   <h3>Build Responsive Real Build Responsive Real</h3>
                   <h4>Phasellus eu pulvinar augue, eu...</h4>
                   <h5>Queen Mary University</h5>
                   <div class="ratingsDiv">
                    <div class="ratingsDivLeft"><img src="assets/images/ratings.png" alt=""></div>
                    <div class="ratingsDivRight">3.0 <span>(7,1118)</span></div>
                   </div>
                   <h6>$450.00</h6>
                 </div>
                </div>
  
              </owl-carousel>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>Course</ng-template>
            <ng-template ngbTabContent>
              <owl-carousel [options]="productCrousel"  [carouselClasses]="['owl-theme', 'sliding']" >
  
                <div class="item">
                    
                 <div class="carouselCont">
                   <div class="carouselImg">
                     <img src="assets/images/carousalbanner5.jpg" alt="">
                     <div class="carouselImgTag">Best seller</div>
                   </div>
                   <h3>Build Responsive Real Build Responsive Real</h3>
                   <h4>Phasellus eu pulvinar augue, eu...</h4>
                   <h5>Queen Mary University</h5>
                   <div class="ratingsDiv">
                    <div class="ratingsDivLeft"><img src="assets/images/ratings.png" alt=""></div>
                    <div class="ratingsDivRight">3.0 <span>(7,1118)</span></div>
                   </div>
                   <h6>$450.00</h6>
                 </div>
                </div>
  
                <div class="item">
                    
                 <div class="carouselCont">
                   <div class="carouselImg">
                     <img src="assets/images/carousalbanner4.jpg" alt="">
                   </div>
                   <h3>Build Responsive Real Build Responsive Real</h3>
                   <h4>Phasellus eu pulvinar augue, eu...</h4>
                   <h5>Queen Mary University</h5>
                   <div class="ratingsDiv">
                    <div class="ratingsDivLeft"><img src="assets/images/ratings.png" alt=""></div>
                    <div class="ratingsDivRight">3.0 <span>(7,1118)</span></div>
                   </div>
                   <h6>$450.00</h6>
                 </div>
                </div>

                <div class="item">
                    
                  <div class="carouselCont">
                    <div class="carouselImg">
                      <img src="assets/images/carousalbanner5.jpg" alt="">
                      <div class="carouselImgTag">Best seller</div>
                    </div>
                    <h3>Build Responsive Real Build Responsive Real</h3>
                    <h4>Phasellus eu pulvinar augue, eu...</h4>
                    <h5>Queen Mary University</h5>
                    <div class="ratingsDiv">
                     <div class="ratingsDivLeft"><img src="assets/images/ratings.png" alt=""></div>
                     <div class="ratingsDivRight">3.0 <span>(7,1118)</span></div>
                    </div>
                    <h6>$450.00</h6>
                  </div>
                 </div>
   
                 <div class="item">
                     
                  <div class="carouselCont">
                    <div class="carouselImg">
                      <img src="assets/images/carousalbanner4.jpg" alt="">
                    </div>
                    <h3>Build Responsive Real Build Responsive Real</h3>
                    <h4>Phasellus eu pulvinar augue, eu...</h4>
                    <h5>Queen Mary University</h5>
                    <div class="ratingsDiv">
                     <div class="ratingsDivLeft"><img src="assets/images/ratings.png" alt=""></div>
                     <div class="ratingsDivRight">3.0 <span>(7,1118)</span></div>
                    </div>
                    <h6>$450.00</h6>
                  </div>
                 </div>

                 <div class="item">
                    
                  <div class="carouselCont">
                    <div class="carouselImg">
                      <img src="assets/images/carousalbanner5.jpg" alt="">
                      <div class="carouselImgTag">Best seller</div>
                    </div>
                    <h3>Build Responsive Real Build Responsive Real</h3>
                    <h4>Phasellus eu pulvinar augue, eu...</h4>
                    <h5>Queen Mary University</h5>
                    <div class="ratingsDiv">
                     <div class="ratingsDivLeft"><img src="assets/images/ratings.png" alt=""></div>
                     <div class="ratingsDivRight">3.0 <span>(7,1118)</span></div>
                    </div>
                    <h6>$450.00</h6>
                  </div>
                 </div>
   
                 <div class="item">
                     
                  <div class="carouselCont">
                    <div class="carouselImg">
                      <img src="assets/images/carousalbanner4.jpg" alt="">
                    </div>
                    <h3>Build Responsive Real Build Responsive Real</h3>
                    <h4>Phasellus eu pulvinar augue, eu...</h4>
                    <h5>Queen Mary University</h5>
                    <div class="ratingsDiv">
                     <div class="ratingsDivLeft"><img src="assets/images/ratings.png" alt=""></div>
                     <div class="ratingsDivRight">3.0 <span>(7,1118)</span></div>
                    </div>
                    <h6>$450.00</h6>
                  </div>
                 </div>
  
              </owl-carousel>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
    </div>
</section> -->

<!-- end Vendor profile -->

<!-- 404 page strat -->
<section class="cmsWrap">
  <div class="container">
    <div class="error_container">
      <div class="sad_img"><img src="assets/images/sad_smiley.png" alt=""/></div>
      <div class="sad_txt">Sorry!</div>
      <p>We can't find the page you're looking for.</p>
      <!-- <p class="small_txt">Visit our <a href="#">support page</a> for any questions. (404)</p> -->
    </div>
  </div>
</section>
<!-- 404 page end -->