.imageSec{ text-align: center; margin: 60px 0 30px 0; padding: 15px; border: 1px dashed #e2e2e2;}
.forHelp{
    h2{ padding: 40px 0 0 0;}
    p{ font-size: 16px; padding-top: 30px;
      a{ color: #3eb7aa; text-decoration: underline !important;}
      span{ color: #3eb7aa; text-decoration: underline !important;}
    }
}