<div class="ratingMain">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-8">
				<h3>How would you rate this course overall?</h3>
				<div class="ratingItem">
					<form [formGroup]="formObj" (submit)="saveForm()">
						<div class="alert alert-danger" *ngIf="!loggedUser?.user?.profile?.full_name">Please complete your profile to submit your review</div>
						<ngb-rating formControlName="rating_count">
							<ng-template let-fill="fill">
								<span class="star" [class.full]="fill === 100">&#9733;</span>
							</ng-template>
	
						</ngb-rating>
	
						<div class="form-group">
							<label for="" class="control-label">Submit your review</label>
							<textarea #rev formControlName="review_note" id="" cols="30" rows="10" class="form-control" maxlength="254"></textarea>

							<div class="form-validation-error" *ngIf="formError?.review_note">
								<span *ngFor="let err of formError?.review_note">{{err?.message}}</span>
							</div>
							<em class="text-right">{{(254 - rev.value.length)}} characters only</em>
						</div>

						<div class="form-group">
							<button type="submit" class="btn btn-success" [disabled]="formLoading  || (!loggedUser?.user?.profile?.full_name)">Submit <i class="fa fa-spinner fa-spin" *ngIf="formLoading"></i></button>
						</div>
					</form>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
				<app-product-card [itemDetails]="modelObj" *ngIf="modelType === 'product'"></app-product-card>
				<app-event-card [itemDetails]="modelObj" *ngIf="modelType === 'event'"></app-event-card>
				<app-course-card [itemDetails]="modelObj" *ngIf="modelType === 'course'"></app-course-card>
			</div>
		</div>
	</div>
</div>