<app-header></app-header> <!-- Header  -->

<section class="pageHeading d-flex">
  <div class="container align-self-center">
    <h3><i class="fa fa-home" aria-hidden="true"></i> / {{title}}</h3>
    <h2>{{title}}</h2>
  </div>
</section>

 <section class="cmsWrap">
      <div class="container">

        <div class="row justify-content-center">

          <div class="col-lg-6">

            <h4 class="ePass">Enter your password below</h4>

            <notification-message [messages]="messages"></notification-message>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" >
              <!-- <div class="modalInp" *ngVar="resetPasswordForm.get('user_name') as user_name">
                <input type="email" id="user_name" class="" placeholder="Email" name="user_name" formControlName="user_name">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <form-validation-message [fromInstance]="user_name"></form-validation-message>
              </div> -->
              <div class="modalInp" *ngVar="resetPasswordForm.get('new_password') as new_password" >
                  <input type="password" id="new_password" class="" placeholder="Password" name="new_password" formControlName="new_password" minlength=6>
                <i class="fa fa-lock" aria-hidden="true"></i>
                <form-validation-message [fromInstance]="new_password"></form-validation-message>
              </div>
              <div class="modalInp" *ngVar="resetPasswordForm.get('retype_password') as retype_password" >
                  <input type="password" id="retype_password" class="" placeholder="Confirm Password" name="retype_password" formControlName="retype_password">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <form-validation-message [fromInstance]="retype_password"></form-validation-message>
              </div>
              <div class="modalInp">
                <input type="submit" name="" value="Reset Password" [className]="resetPasswordForm.valid ? ' ' : 'disableSubmit'">
              </div>
            </form>

          </div>

        </div>



      </div>
  </section>




<app-footer></app-footer>
