.fileFormatInfo{
    font-size: 12px;
    padding: 3px;
}
.choose_file{
    font-size: 14px;
    padding: 6px 14px;
    font-weight: normal;
    background: #3eb7aa;
    border: none;
    float: right;
}