<section class="mainContainer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-2 col-lg-3 leftPanel">
            <app-dashboard-left-panel></app-dashboard-left-panel>
        </div>

       <div class="col-xl-10 col-lg-9">
         <div class="rightPanel">
           <div class="centerHeading">
             <h2>Change Password</h2>
             <h3>Edit your account settings and change your password here</h3>
           </div>
            <div Class= "alert-success"   *ngIf="successMsg">
                {{successMsg}}
            </div>  
           <div class="formWrap">
              <notification-message [messages]="messages" *ngIf="errorMsg"></notification-message>
              <form [formGroup]="changePasswordForm" (ngSubmit)="changePasswordSubmit()">
                  <label for="">Email:</label>
                  <div class="inputWrap">
                    <input type="email" class="inpField" value="{{email}}" disabled="true" >
                  </div>
                  <div class="siteDivide"></div>
                  
                  <label for="">Password:</label>
                  <div class="inputWrap" *ngVar="changePasswordForm.get('old_password') as old_password">
                    <input type="password" class="inpField" placeholder="Enter Current Password"  name="old_password" formControlName="old_password" >
                    <form-validation-message [fromInstance]="old_password"></form-validation-message>
                    
          
                  </div>
                  <div class="inputWrap" *ngVar="changePasswordForm.get('new_password') as new_password">
                    <input type="password" class="inpField" placeholder="Enter New Password" name="new_password" formControlName="new_password"  minlength=6 >
                  
                    <form-validation-message [fromInstance]="new_password"></form-validation-message>
                  </div>
                  <div class="inputWrap" *ngVar="changePasswordForm.get('retype_password') as retype_password" >
                    <input type="password" class="inpField" placeholder="Re-type New Password" name="retype_password" formControlName="retype_password">
                    <form-validation-message [fromInstance]="retype_password"></form-validation-message>
                    <p class="matchPassword" *ngIf="changePasswordForm.controls.retype_password.errors?.MatchPassword">Password not match</p>
                  </div>
                  
                  <input type="submit" [className]="changePasswordForm.valid ? 'submitBtn  ' : 'submitBtn disableSubmit'" value="Change Password">
              </form>

           </div>
         </div>
       </div>

      </div>
    </div>
  </section>