.course_area{
    
    .box{
        margin:0 0 25px 0;
        padding: 0;
        text-align: center;
        min-height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
    }
    
    .green_box{
        padding: 15px;
        background: #00b5c2;
    }
    
    .black_box{
        padding: 15px;
        background: #3e4d6c;
    }
    .blue_box{
        padding: 15px;
        background: #008efa;
    }
    .orenge{
        padding: 15px;
        background: #f75b36;
    }
    .yellow_box{
        padding: 15px;
        background: #d2c426;
    }
    .purple{
        padding: 15px;
        background: #ad69d1;
    }
    
    .box h2{
        color:#fff;
        font-size: 18px;
        padding: 5px;
    }
    .box .number{
        color:#fff;
        font-size: 30px;
        font-weight: 700;
    }

    .table_area{
        margin: 0;
        padding: 0;

        .table_bg{
            margin: 0 0 15px 0;
            padding: 15px;
            background: #fff;

            h1{
                color: #000;
                font-size: 18px;
                padding: 20px 0;
            }

            .user_details{
                margin:0;
                padding: 0;
                display: flex;
                // justify-content: center;
                flex-direction: row;
                align-items: center;
                
                .user_img{
                    display: inline-block;
                    position: relative;
                    max-width: 100%;
                    background-color: #686f7a;
                    font-size: 15px;
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    border: 1px solid #FFF;
                    color: #FFF;

                    .user_img_area{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }

                    img{
                        border-radius: 50%;
                    }
                }
                .user_name{
                    padding-left: 10px;
                    word-break: break-all;
                }
            }

            tbody {
                display: block;
                max-height: 300px;
                overflow-y: scroll;
            }
            thead,tbody tr {
                display: table;
                width: 100%;
                table-layout: fixed;
            }
            thead{
                width: calc(100% - 13px);
                }
        }
    }
}