input.ng-invalid.ng-touched, select.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #dc3545;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    box-shadow: none;
    opacity: .65;
}
.matchPassword {
    font-size: 11px;
    color: #ff0000
}