

<div class="eventBanner d-flex">
  <div class="container align-self-center">
    <h2>Business</h2>
    <h3>Etiam vehicula sapien ac aliquet porttitor. Donec eget arcu <br> neque. Fusce sed nisl non..</h3>
  </div>
</div>

<section class="featuredCourse">
  <div class="container">
    <h2>Featured Courses</h2>
      <ngb-tabset class="tabFeatured">
        <ngb-tab title="Development">
          <ng-template ngbTabContent>
            <owl-carousel [options]="featuredCourse"  [carouselClasses]="['owl-theme', 'sliding']" >

              <div class="item">
               <div class="carouselCont">
                 <div class="carouselImg">
                   <img src="assets/images/carousalbanner1.jpg" alt="">
                   <div class="carouselImgTag">Best seller</div>
                 </div>
                 <h3>Build Responsive Real Build Responsive Real</h3>
                 <h4>Phasellus eu pulvinar augue, eu...</h4>
                 <h5>Queen Mary University</h5>
                 <div class="ratingsDiv">
                  <div class="ratingsDivLeft"><img src="assets/images/ratings.png" alt=""></div>
                  <div class="ratingsDivRight">3.0 <span>(7,1118)</span></div>
                 </div>
                 <h6>$450.00</h6>
               </div>
              </div>

              <div class="item">
               <div class="carouselCont">
                 <div class="carouselImg">
                   <img src="assets/images/carousalbanner2.jpg" alt="">
                 </div>
                 <h3>Build Responsive Real Build Responsive Real</h3>
                 <h4>Phasellus eu pulvinar augue, eu...</h4>
                 <h5>Queen Mary University</h5>
                 <div class="ratingsDiv">
                  <div class="ratingsDivLeft"><img src="assets/images/ratings.png" alt=""></div>
                  <div class="ratingsDivRight">3.0 <span>(7,1118)</span></div>
                 </div>
                 <h6>$450.00</h6>
               </div>
              </div>

              <div class="item">
               <div class="carouselCont">
                 <div class="carouselImg">
                   <img src="assets/images/carousalbanner3.jpg" alt="">
                   <div class="carouselImgTag">Best seller</div>
                 </div>
                 <h3>Build Responsive Real Build Responsive Real</h3>
                 <h4>Phasellus eu pulvinar augue, eu...</h4>
                 <h5>Queen Mary University</h5>
                 <div class="ratingsDiv">
                  <div class="ratingsDivLeft"><img src="assets/images/ratings.png" alt=""></div>
                  <div class="ratingsDivRight">3.0 <span>(7,1118)</span></div>
                 </div>
                 <h6>$450.00</h6>
               </div>
              </div>

              <div class="item">
               <div class="carouselCont">
                 <div class="carouselImg">
                   <img src="assets/images/carousalbanner4.jpg" alt="">
                 </div>
                 <h3>Build Responsive Real Build Responsive Real</h3>
                 <h4>Phasellus eu pulvinar augue, eu...</h4>
                 <h5>Queen Mary University</h5>
                 <div class="ratingsDiv">
                  <div class="ratingsDivLeft"><img src="assets/images/ratings.png" alt=""></div>
                  <div class="ratingsDivRight">3.0 <span>(7,1118)</span></div>
                 </div>
                 <h6>$450.00</h6>
               </div>
              </div>

              <div class="item">
               <div class="carouselCont">
                 <div class="carouselImg">
                   <img src="assets/images/carousalbanner5.jpg" alt="">
                   <div class="carouselImgTag">Best seller</div>
                 </div>
                 <h3>Build Responsive Real Build Responsive Real</h3>
                 <h4>Phasellus eu pulvinar augue, eu...</h4>
                 <h5>Queen Mary University</h5>
                 <div class="ratingsDiv">
                  <div class="ratingsDivLeft"><img src="assets/images/ratings.png" alt=""></div>
                  <div class="ratingsDivRight">3.0 <span>(7,1118)</span></div>
                 </div>
                 <h6>$450.00</h6>
               </div>
              </div>

              <div class="item">
               <div class="carouselCont">
                 <div class="carouselImg">
                   <img src="assets/images/carousalbanner1.jpg" alt="">
                   <div class="carouselImgTag">Best seller</div>
                 </div>
                 <h3>Build Responsive Real Build Responsive Real</h3>
                 <h4>Phasellus eu pulvinar augue, eu...</h4>
                 <h5>Queen Mary University</h5>
                 <div class="ratingsDiv">
                  <div class="ratingsDivLeft"><img src="assets/images/ratings.png" alt=""></div>
                  <div class="ratingsDivRight">3.0 <span>(7,1118)</span></div>
                 </div>
                 <h6>$450.00</h6>
               </div>
              </div>

            </owl-carousel>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>Design</ng-template>
          <ng-template ngbTabContent>
            <owl-carousel [options]="featuredCourse"  [carouselClasses]="['owl-theme', 'sliding']" >

              <div class="item">
               <div class="carouselCont">
                 <div class="carouselImg">
                   <img src="assets/images/carousalbanner5.jpg" alt="">
                   <div class="carouselImgTag">Best seller</div>
                 </div>
                 <h3>Build Responsive Real Build Responsive Real</h3>
                 <h4>Phasellus eu pulvinar augue, eu...</h4>
                 <h5>Queen Mary University</h5>
                 <div class="ratingsDiv">
                  <div class="ratingsDivLeft"><img src="assets/images/ratings.png" alt=""></div>
                  <div class="ratingsDivRight">3.0 <span>(7,1118)</span></div>
                 </div>
                 <h6>$450.00</h6>
               </div>
              </div>

              <div class="item">
               <div class="carouselCont">
                 <div class="carouselImg">
                   <img src="assets/images/carousalbanner4.jpg" alt="">
                 </div>
                 <h3>Build Responsive Real Build Responsive Real</h3>
                 <h4>Phasellus eu pulvinar augue, eu...</h4>
                 <h5>Queen Mary University</h5>
                 <div class="ratingsDiv">
                  <div class="ratingsDivLeft"><img src="assets/images/ratings.png" alt=""></div>
                  <div class="ratingsDivRight">3.0 <span>(7,1118)</span></div>
                 </div>
                 <h6>$450.00</h6>
               </div>
              </div>

            </owl-carousel>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
  </div>
</section>

<section class="featuredAdd">
   <div class="container">
     <div class="row">
       <div class="col-lg-6">
         <div class="featuredAddSingle"><img src="assets/images/feature-add-1.jpg" alt=""></div>
       </div>
       <div class="col-lg-3">
         <div class="featuredAddSingle"><img src="assets/images/feature-add-2.jpg" alt=""></div>
       </div>
       <div class="col-lg-3">
         <div class="featuredAddSingle"><img src="assets/images/feature-add-3.jpg" alt=""></div>
       </div>
     </div>
   </div>
</section>

<section class="popularTopics">
  <div class="container">
    <h2>Popular topics</h2>
    <ul class="clearfix">
      <li><a href="#">Data Science</a></li>
      <li><a href="#">Python</a></li>
      <li><a href="#">Machine Learning</a></li>
      <li><a href="#">Deep Learning</a></li>
      <li><a href="#">SQL</a></li>
      <li><a href="#">Financial Analysis</a></li>
      <li><a href="#">PMBOK</a></li>
      <li><a href="#">Neural Networks</a></li>
    </ul>
  </div>
</section>

<section class="popInstructure">
  <div class="container">
    <h2>Popular Instructors</h2>
    <owl-carousel [options]="featuredCourse"  [carouselClasses]="['owl-theme', 'sliding']" >

      <div class="item">
        <div class="instructureSingle">
          <div class="instImg"><img src="assets/images/inst-img.jpg" alt=""></div>
          <div class="instCont">
            <h3>Steve Mark</h3>
            <h4>Data Science, R</h4>
          </div>
          <div class="instBottom">631,040 students <br> 46 courses</div>
        </div>
      </div>

      <div class="item">
        <div class="instructureSingle">
          <div class="instImg"><img src="assets/images/inst-img.jpg" alt=""></div>
          <div class="instCont">
            <h3>Steve Mark</h3>
            <h4>Finance Fundamentals, Financial Analysis</h4>
          </div>
          <div class="instBottom">631,040 students <br> 46 courses</div>
        </div>
      </div>

      <div class="item">
        <div class="instructureSingle">
          <div class="instImg"><img src="assets/images/inst-img.jpg" alt=""></div>
          <div class="instCont">
            <h3>Steve Mark</h3>
            <h4>Data Science, R</h4>
          </div>
          <div class="instBottom">631,040 students <br> 46 courses</div>
        </div>
      </div>

      <div class="item">
        <div class="instructureSingle">
          <div class="instImg"><img src="assets/images/inst-img.jpg" alt=""></div>
          <div class="instCont">
            <h3>Steve Mark</h3>
            <h4>Finance Fundamentals, Financial Analysis</h4>
          </div>
          <div class="instBottom">631,040 students <br> 46 courses</div>
        </div>
      </div>

      <div class="item">
        <div class="instructureSingle">
          <div class="instImg"><img src="assets/images/inst-img.jpg" alt=""></div>
          <div class="instCont">
            <h3>Steve Mark</h3>
            <h4>Data Science, R</h4>
          </div>
          <div class="instBottom">631,040 students <br> 46 courses</div>
        </div>
      </div>

      <div class="item">
        <div class="instructureSingle">
          <div class="instImg"><img src="assets/images/inst-img.jpg" alt=""></div>
          <div class="instCont">
            <h3>Steve Mark</h3>
            <h4>Finance Fundamentals, Financial Analysis</h4>
          </div>
          <div class="instBottom">631,040 students <br> 46 courses</div>
        </div>
      </div>


    </owl-carousel>
  </div>
</section>

<section class="forBusiness">
  <div class="container">
    <h3>10,000 courses for Business</h3>
    <div class="businessFilter clearfix">
      <ul class="clearfix">
        <li>
          <select class="" name="">
            <option>Ratings</option>
          </select>
        </li>
        <li>
          <select class="greenSelect" name="">
            <option>Duration</option>
          </select>
        </li>
        <li class="filtRight">
          <div class="btnFilter"><img src="assets/images/filter-icon.png" alt=""> Filters</div>
        </li>
      </ul>
    </div>

    <div class="eventSort clearfix">
      <ul>
        <li class="sortIcon"><img src="assets/images/event-view1.png" alt=""></li>
        <li class="sortIcon"><img src="assets/images/event-view2.png" alt=""></li>
      </ul>
    </div>

    <div class="businessList">
      <ul>

        <li>
          <div class="businessListMain clearfix">
            <div class="businessListImg">
              <img src="assets/images/business-img.jpg" alt="">
              <div class="carouselImgTag">Best seller</div>
            </div>
            <div class="businessListCont">
              <h4>The Ultimate Hands-On Hadoop - Tame your Big Data!</h4>
              <h5>96 lectures | 14.5 hours | All Levels</h5>
              <p>Curabitur tristique risus vel purus consequat molestie. Maecenas cursus interdum enim, in tincidunt lorem mollis eget. Phasellus lacinia justo non nisl tincidunt</p>
            </div>
            <div class="businessLisRating justify-content-center align-self-center">
              <h3>$450.00</h3>
              <img src="assets/images/ratings3.png" alt="">
              <h4>3.0 <span>(7,1118)</span></h4>
            </div>
          </div>
        </li>

        <li>
          <div class="businessListMain clearfix">
            <div class="businessListImg">
              <img src="assets/images/business-img.jpg" alt="">
              <div class="carouselImgTag">Best seller</div>
            </div>
            <div class="businessListCont">
              <h4>The Ultimate Hands-On Hadoop - Tame your Big Data!</h4>
              <h5>96 lectures | 14.5 hours | All Levels</h5>
              <p>Curabitur tristique risus vel purus consequat molestie. Maecenas cursus interdum enim, in tincidunt lorem mollis eget. Phasellus lacinia justo non nisl tincidunt</p>
            </div>
            <div class="businessLisRating justify-content-center align-self-center">
              <h3>$450.00</h3>
              <img src="assets/images/ratings3.png" alt="">
              <h4>3.0 <span>(7,1118)</span></h4>
            </div>
          </div>
        </li>

        <li>
          <div class="businessListMain clearfix">
            <div class="businessListImg">
              <img src="assets/images/business-img.jpg" alt="">
              <div class="carouselImgTag">Best seller</div>
            </div>
            <div class="businessListCont">
              <h4>The Ultimate Hands-On Hadoop - Tame your Big Data!</h4>
              <h5>96 lectures | 14.5 hours | All Levels</h5>
              <p>Curabitur tristique risus vel purus consequat molestie. Maecenas cursus interdum enim, in tincidunt lorem mollis eget. Phasellus lacinia justo non nisl tincidunt</p>
            </div>
            <div class="businessLisRating justify-content-center align-self-center">
              <h3>$450.00</h3>
              <img src="assets/images/ratings3.png" alt="">
              <h4>3.0 <span>(7,1118)</span></h4>
            </div>
          </div>
        </li>

      </ul>
    </div>
    <div class="siteBreadcrumb">
      <ul>
        <li><a href="#"></a></li>
        <li><a class="active" href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>
  </div>
</section>


