.bookmark_block{
	margin-bottom: 20px;
	box-shadow: 0 0 1px 1px rgba(20,23,28,0.1), 0 3px 1px 0 rgba(20,23,28,0.1);
	

	.bookmar_header{
		padding: 15px;
		border-bottom: 1px solid #dddd;
		h3{
			color:#686F7A;
			font-weight: 600;
			font-size: 18px;
		}
	}
	.lecture_area{
		padding: 15px;
		border-bottom: 1px solid #dddd;

		span{
			color:#EC5252;
			font-weight: 700;
		}
	}
}