<div class="bookmark_block">
	<div class="bookmar_header">
		<span>Section 5</span>
		<h3>Building Re-usable Components</h3>
	</div>
	<div class="lecture_area">
		<div><strong>53. Input Properties</strong></div>
		<span>00:10</span> 2 months ago
	</div>
	<div class="lecture_area">
		<div><strong>53. Input Properties</strong></div>
		<span>00:10</span> 2 months ago
	</div>
</div>
<div class="bookmark_block">
	<div class="lecture_area">
		<div><strong>53. Input Properties</strong></div>
		<span>00:10</span> 2 months ago
	</div>
	<div class="lecture_area">
		<div><strong>53. Input Properties</strong></div>
		<span>00:10</span> 2 months ago
	</div>
</div>
<div class="bookmark_block">
	<div class="lecture_area">
		<div><strong>53. Input Properties</strong></div>
		<span>00:10</span> 2 months ago
	</div>
	<div class="lecture_area">
		<div><strong>53. Input Properties</strong></div>
		<span>00:10</span> 2 months ago
	</div>
</div>